* {
    font-family: $montserrat;
}

h1 {
    font-weight: $monbold;
    font-size: $font-x-large;
}

h2 {
    font-weight:$monregular;
    font-size:$font-x-large;
}

h3 {
    font-weight: $monbold;
    font-size:$font-x-large;
}

h4 {
    font-weight: $monlight;
    font-size: $font-medium;
    color:$gray;
}