//Colors
$swamp: #001614;
$gray: #888;
$silver: #CCC;
$white: #FFF;
$sky-blue: #79DEE7;
$persimmon: #FF565B;

//Fonts
$montserrat:'Montserrat', sans-serif;
$monlight: 300;
$monregular: 500;
$monbold: 700;

$lato:'Lato', sans-serif;
$latoregular:300;
$latobold:700;

//Sizes
$font-xxx-large:40px;
$font-xx-large:30px;
$font-x-large:20px;
$font-large:18px;
$font-medium:16px;
$font-small:14px;
$font-x-small:12px;