.navbar-brand {
    font-family: $lato;
    font-weight: $latobold;
    text-transform: uppercase;
    font-size: $font-xx-large;
    & span {
        font-weight:$latoregular;
        font-size:$font-x-small;
        
    }
}

.nav__icons {
    font-size: $font-large;
    color:$swamp;
}